/* Global Styles */
.color-solution
{
  color: #b68c5a;
}
.btn-solution {
  background-color: #b68c5a;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
}
.banner
{
    background-image: url(../images/rectangle\ 4.png);
    height: 90vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    
}
.search-box {
  background: #ffffff;
  border-radius: 8px;
  width: 400px;
  border: 0;
  padding: 12px;
  margin-right: 10px;
}


@media screen and (max-width:576px) {

    .search-box
    {
        background-color: rgb(156, 225, 156);
        color: #ffffff;
        width: 65%;
    }
    
}