/* Global Styles */
.btn-solution {
  background-color: #b68c5a;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
}
.banner {
  background-image: url(../images/rectangle\ 4.png);
  height: 90vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.search-box {
  background: #ffffff;
  border-radius: 8px;
  width: 400px;
  border: 0;
  padding: 12px;
  margin-right: 10px;
}
.banner-img1 {
  background-image: url(../images/judges-gavel-scale-justice-black-table.jpg);
  height: 100vh;
}
.banner-img2 {
  background-image: url(../images/lady-justice-law-library-concept.jpg);
  height: 100vh;
}
.banner-img3 {
  background-image: url(../images/law-justice-concept-dark-background.jpg);
  height: 100vh;
}
.player {
  height: 70px;
  width: 70px;
}
@media screen and (max-width: 576px) {
  .search-box {
    background-color: rgb(156, 225, 156);
    color: #ffffff;
    width: 65%;
  }
}
